aiofiles
aiogram
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
fqdn
frozenlist
h11
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab-widgets
magic-filter
MarkupSafe
matplotlib-inline
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
overrides
packaging
pandocfilters
parso
pip
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
python-json-logger
python-telegram-bot
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
yarl
